.filter {
    height: 60px;
    background-color: rgb(234, 234, 234);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-item {
    display: flex;
    width: 50%;
    max-width: 250px;
    align-items: center;
    justify-content: space-evenly;
}

.date-input {
    width: 72px;
    height: 31px;
    background-color: white;
    border: grey 1px solid;
    border-radius: 11px;
    cursor: pointer;
}

@media screen and (min-width: 600px) {
    .date-input {
        width: 100px;
    }
}

.right-popper-picker .react-datepicker__triangle {
    left: 190px;
}