.header {
    height: 77px;
    background-color: rgb(126, 211, 33);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}

.header *:hover {
    cursor: pointer;
}

.icons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.active-filter {
    margin-right: 39px;
}

.inactive-filter {
    margin-right: 45px;
}