.nothing-found-container {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.nothing-found-label {
    font-weight: 400;
    font-size: 24px;
    color: rgb(176, 176, 176);
}

.sad-icon {
    margin-bottom: 30px;
}